<footer class="space--sm footer-2 bg--dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 col-6">
        <h6 class="type--uppercase">Sites</h6>
        <ul class="list--hover">
          <li>
            <a href="https://store.visionappster.com">VisionAppster Store</a>
          </li>
          <li>
            <a href="https://doc.visionappster.com">Documentation</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 col-6">
        <h6 class="type--uppercase">Support</h6>
        <ul class="list--hover">
          <li>
            <a href="https://doc.visionappster.com/latest/cookbook/">Tutorials</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 col-6">
        <h6 class="type--uppercase">Legal</h6>
        <ul class="list--hover">
          <li>
            <a href="/legal/privacy-policy/">Privacy policy</a>
          </li>
          <li>
            <a href="/legal/website/terms-of-use/">Terms of use</a>
          </li>
          <li>
            <a href="/legal/">All terms</a>
          </li>
        </ul>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-md-6">
        <span class="type--fine-print">&copy;
          <span class="update-year"></span> VisionAppster
        </span>
      </div>
      <div class="col-md-6 text-right text-left-xs">
        <ul class="social-list list-inline list--hover">
          <li>
            <a href="https://www.linkedin.com/company/visionappster">
              <i class="socicon socicon-linkedin icon icon--xs"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/visionappster/">
              <i class="socicon socicon-facebook icon icon--xs"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/Visionappster">
              <i class="socicon socicon-twitter icon icon--xs"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</footer>
